<?xml version="1.0" encoding="utf-8"?>
<configuration>  
 <configSections>
    <section name="swagger" type="Swaggerator.Configuration.SwaggerSection, Swaggerator" />
  </configSections>
  <system.web>
    <httpRuntime enableVersionHeader="false" />
    <compilation debug="true" targetFramework="4.5">      
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
 <swagger>
    <tags>
      <tag name="InternalUse" visible="true" />
      <tag name="Foo" visible="false" />
      <tag name="Bar" visible="true" />
    </tags>
	  <settings>
		  <setting name="ShowRequiredQueryParamsInHeader" value="true" />
		  <setting name="MarkTaggedMethods" value="true" />
	  </settings>
  </swagger> 
  <appSettings>
    <add key="Rk.APIAccess.Dynamics-CrmServiceUrl" value="http://ntdevcrm1:5555/MSCRMServices/2007/CrmService.asmx" />
    <add key="Rk.APIAccess.Dynamics-MetadataServiceUrl" value="http://ntdevcrm1:5555/MSCRMServices/2007/MetadataService.asmx" />
    <add key="Rk.APIAccess.Dynamics-Org" value="CRMDEVPSG" />
    <add key="Rk.APIAccess.Dynamics-Username" value="CRMApi_DEV" />
    <add key="Rk.APIAccess.Dynamics-Password" value="Sp3aker$" />
    <add key="Rk.APIAccess.Dynamics-RPSOrg" value="CRMRPSDCSPDS" />    
    <add key="Ifx.ServiceModelEx-HostServiceAssemblyPrefix" value="Rk.Manager" />
    <add key="Ifx.ServiceModelEx-HostServiceAssemblySuffix" value="PlanManager" />
    <add key="Ifx.ServiceModelEx-BaseAddress" value="http://localhost/planservicemanager" />
    <add key="Ifx.ServiceModelEx-MaxConcurrentCalls" value="200" />
    <add key="Ifx.ServiceModelEx-MaxSessions" value="200" />
    <add key="Ifx.ServiceModelEx-MaxInstances" value="200" />
    <add key="Ifx.ServiceModelEx-MaxReceivedMessageSize" value="9223372036854775807" />
    <add key="Ifx.ServiceModelEx-MaxBufferSize" value="9223372036854775807" />
    <add key="Ifx.ServiceModelEx-MaxBufferPoolSize" value="0" />
    <add key="Ifx.ServiceModelEx-SendTimeout" value="60" />
    <add key="Ifx.ServiceModelEx-ReceiveTimeout" value="60" />
    <add key="Ifx.ServiceModelEx-CloseTimeout" value="60" />
    <add key="Ifx.ServiceModelEx-InProcBinding-IdleTimeout" value="21:00:00:00" />
  </appSettings>
<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <diagnostics performanceCounters="Off">
      <messageLogging logEntireMessage="false" logMalformedMessages="false" logMessagesAtTransportLevel="false" />
    </diagnostics>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>    
  <system.webServer>
    <staticContent>
    <remove fileExtension=".woff" />
    <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
  </staticContent>
    <modules runAllManagedModulesForAllRequests="true" />
  <httpProtocol>
        <customHeaders>
            <remove name="X-Powered-By" />
        <clear />
        </customHeaders>
    </httpProtocol>
  <directoryBrowse enabled="true" />
  </system.webServer>
  <system.diagnostics>
      <sources>
            <source name="System.ServiceModel" switchValue="All" propagateActivity="true">
            <listeners>
               <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\log\Traces.svclog" />
            </listeners>
         </source>
      </sources>
   </system.diagnostics>  
  <runtime>  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">  
            <dependentAssembly>  
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />  
                 <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />  
            </dependentAssembly>  
       </assemblyBinding>  
  </runtime>
</configuration>